!!! 5
%html
  %head
    %meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    = yield :metas
    %title JP Lavin - Animator
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    %noscript
      .noscriptmsg
        Your browser currently has JavaScript disabled. This site doesn't work without it so please enable JavaScript in your browser's settings, then
        = succeed "." do
          = link_to "click here", "#{request.url}"

    = csrf_meta_tag
  %body
    = content_for?(:content) ? yield(:content) : yield